//common
.title {
	@include adaptiveValue('font-size', 35, 20);
	margin-bottom: rem(20);
	text-align: left;
}
@mixin sectionMargin() {
	@include adaptiveValue('margin-bottom', 60, 20);
}

@mixin sectionBgGray() {
	padding: rem(40);
	background-color: $grayColor;
	border-radius: $br;
}

@mixin shadow() {
	box-shadow: 7px 7px 15px -5px rgba(0, 0, 0, 0.71);
	border-radius: $br;
}

//slider
@import '@vueform/slider/themes/default.css';
//blocks

//banner
@import '@/assets/scss/blocks/banner.scss';
//navigation
@import '@/assets/scss/blocks/navigation.scss';
// advantages
@import '@/assets/scss/blocks/advantages.scss';
//Offers
@import '@/assets/scss/blocks/offers.scss';
//calculator
@import '@/assets/scss/blocks/calculator.scss';
//profitable programs
@import '@/assets/scss/blocks/profitable_programs.scss';
//One profitable program
@import '@/assets/scss/blocks/one_profitable_program.scss';
//filters
@import '@/assets/scss/blocks/filters.scss';
