//
.programs {
	@include sectionMargin;
	text-align: center;

	&__inner {
		@include sectionBgGray;
	}

	&__items {
		@include gridCards('fill', 270px, 1fr, 20px);
		margin-bottom: rem(30);
	}

	&__empty {
		display: flex;
		justify-content: flex-start;
		padding: rem(0) rem(0) rem(20) rem(0);
	}

	&__empty-text {
		@include adaptiveValue('font-size', 16, 14);
	}

	&__show-more {
		margin: 0 auto;
		display: inline-block;
		padding: rem(15);
		border-radius: $br;
		background-color: $greenColor;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: rgba($color: $greenColor, $alpha: 0.9);
			transform: scale(0.95);
			color: white;
		}
	}
}

.item-program {
	padding: rem(20) rem(10) rem(10) rem(10);
	display: flex;
	border-radius: $br;
	flex-direction: column;
	background-color: #618d4d;
	text-align: left;
	position: relative;
	overflow: hidden;
	&:hover &__hidden {
		transform: translate(0, 0);
		transition: all 0.5s ease 0s;
	}
	&__title {
		@include adaptiveValue('font-size', 18, 16);
		text-transform: capitalize;
		flex: 1 1 100%;
	}

	&__body {
		@include adaptiveValue('font-size', 14, 12);
	}

	&__hidden {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		background-color: rgba($color: #f34505, $alpha: 0.8);
		border-radius: $br;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(10);
		transition: all 0.5s ease 0s;
		transform: translate(0, -100%);
		text-transform: uppercase;
		font-weight: bold;
	}
}
